In [ ]:
import dataset

### First, we will create a sqlite3 file database using the simple connect command. 

Note: If this file exists, it will open the file and use it instead of creating it.

In [ ]:
db = dataset.connect('sqlite:///my_test_db.db')

In [ ]:
db

### Now we have our database object and we can add a table.

In [ ]:
table = db['my_first_table']

In [ ]:
table

### We can test our table to see what is in it

In [ ]:
results = table.all()

In [ ]:
results

### We can see the items in a result iterator by iterating through them using either a for loop or a list comprehension or simply turning them into a list

In [ ]:
# For loop
for result in results:
    print(result)

In [ ]:
list(results)

In [ ]:
# List comprehension
[int(r) for r in table.all()]

In [ ]:
# Turn it into a list
list(table.all())

#### Let's first insert some data

In [ ]:
my_data = {
    'customer_id': 22,
    'first_name': 'Carolin',
    'last_name': 'Mann',
    'city': 'Karlsruhe',
    'country': 'DE'
}

In [ ]:
table.insert(my_data)

In [ ]:
list(table.all())

### We can then query the table using find or find one. Find will return another result iterator, find_one will return exactly one result -- the first match.

In [ ]:
result = table.find_one(first_name='Carolin')

In [ ]:
result

In [ ]:
result = table.find_one(first_name='Joseph', country='UK')

In [ ]:
result

### You can also query using normal sql on the database object

In [ ]:
results = db.query('SELECT first_name, last_name FROM my_first_table WHERE city="Karlsruhe"')

In [ ]:
list(results)

### Exercise: Try inserting another row so the second query will return at least one result.

In [ ]:
# write your code here

In [ ]:
%load ../solutions/03_customer_data.py

### Bonus exercise: Try writing a query to look up all customer_ids above 20

In [ ]:
# write your code here

In [ ]:
%load ../solutions/03_sql_query.py